<div class="dashboard-container">
    <h1 style="text-align: center;">Energy mix information</h1>
    <!-- <mat-card appearance="outlined"> -->
        <!-- <mat-card-title>Energy mix information</mat-card-title> -->
        <main class="charts-grid">
            @for (day of dailyData(); track day.date) {
            <mat-card appearance="outlined">
                <mat-card-header style="margin: auto">
                    <mat-card-title>{{ day.date | date: 'EEEE, MMMM d' }}</mat-card-title>
                    <mat-card-subtitle>
                        Clean Energy: <strong>{{ day.cleanEnergyPercentage | number:'1.1-1' }}%</strong>
                    </mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                    <canvas #chartCanvas></canvas>
                </mat-card-content>
            </mat-card>
            }
        </main>
    <!-- </mat-card> -->
  @if (errorMessage()) {
    <div class="error-banner">{{ errorMessage() }}</div>
  }

  
</div>
